#smplf-content{
    width: 100%;
    margin-top: 20px;
    left: -10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#smplf-nav{
    position: fixed;
    /* left: 100px; */
    top: 10px;
    width: 85%;
    background: white;
    align-self: center;
}

#smplf-nav-head{
    width: 100%;
    padding-top: 30px;
    /* padding-right: 15%; */
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

#smplf-nav-brand{
    color: rgb(33, 115, 182);
    display: block;
}

#smplf-nav-paste{
    color: rgb(180, 180, 180);
    transition: color 10000ms;
}

#smplf-nav-multi-delete{
    color: rgb(180, 180, 180);
    transition: color 10000ms;
}

#nav-view-path{
    opacity: 0.3;
    display: inline;
}

#smplf-navbtns-div{
    width: 360px;
    float: right;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 25px;
    justify-content: space-between;
}

#smplf-navbtns-div button{
    /* height: 40px; */
    background: none;
    border: none;
    border-radius: 5px;
    transition: background 100ms;
}

#smplf-navbtns-div button:hover{
    background: rgb(218, 218, 218);
}

#smplf-nav-head{
    width: 100%;
}

#smplf-folder-grid{
    width: 90%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13%;
    align-self: center;
    justify-content: space-between;
    align-content: space-evenly;
}

#smplf-folder-grid div{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    border-radius: 10px;
    transition: background 100ms;
}


#smplf-micro-view{
    padding: 20px;
    align-self: center;
    top: 110px;
    right: 12px;
    position: fixed;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.26);
}

#mv-options-btn-div{
    display: block;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
    transition: background 100ms;
}

#mv-options-btn-div:hover{
    background: rgb(224, 224, 224);
}

#smplf-folder-grid div:hover{
    background: rgb(228, 228, 228);
}

#smplf-folder-icon{
    font-size: 30px;
    margin-top: 20px;
    align-self: center;
}

.icon-blue{
    color: rgb(33, 115, 182);
}

.icon-gray{
    color: rgb(167, 167, 167);
}

#mc-info-box{
    width: 100%;
    background: rgb(221, 221, 221);
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
}

#info-box-icon{
    display: block;

}

#info-box-data-div{
    margin-bottom: 5px;
}

#info-data-title{
    font-weight: bold;
}

#info_data_value, #info-data-title{
    font-size: small;
    font-style: italic;
}

#smplf-folder-name{
    margin-top: 10px;
    display: inline;
    align-self: center;
    text-align: center;
    font-size: 10px;
}

#smplf-opened-file-div{
    position: fixed;
    width: 50%;
    height: 80%;
    background: white;
    align-self: center;
    border-radius: 10px;
    /* overflow-y: scroll;
    scrollbar-width: none; */
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.26);
}

#open-file-view-controls{
    position: fixed;
    width: 50%;
    height: 28px;
    background: rgb(223, 223, 223);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: grid;
    grid-template-columns: 15% 71% 7% 7%;
}

#open-file-edit-btn{
    border: none;
    background: rgb(33, 115, 182);
    color: white;
    border-top-left-radius: 10px;
}

#open-file-name{
    margin-left: 5px;
    text-align: center;

}

#open-file-close-btn{
    float: left;
    border: none;
    background: rgb(204, 9, 9);
    color: white;
    border-top-right-radius: 10px;
}

#open-file-expand{
    float: left;
    border: none;
    background: rgb(33, 115, 182);
    color: white;
}

#smplf-opened-file-display{
   text-wrap: wrap;
}

#open-file-view-div{
    margin-top: 10px;
    padding: 20px;
}

#smplf-opened-file-display{
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: thin;
    border: none;

}